---
import IconArrow2 from "../IconArrow2.astro";
---

<div
  class="flex justify-between items-center pb-4 mb-4 mt-6 rounded-t border-b sm:mb-5 dark:border-gray-600"
>
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
    What are you looking for?
  </h3>
</div>

<div class="grid gap-4 mb-4 sm:grid-cols-1 relative">
  <label for="underline_select" class="text-white font-extralight text-xs"
    >Desired fields of work</label
  >
  <div class="relative w-full">
    <select
      id="underline_select"
      class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
    >
      <option selected>eg:</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    </select>
    <div
      class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
    >
      <IconArrow2 />
    </div>
  </div>
</div>

<div class="grid gap-4 mb-4 sm:grid-cols-1 relative">
  <label for="underline_select" class="text-white font-extralight text-xs"
    >Desired Equipment</label
  >
  <div class="relative w-full">
    <select
      id="underline_select"
      class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
    >
      <option selected>eg:</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    </select>
    <div
      class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
    >
      <IconArrow2 />
    </div>
  </div>
</div>

<div class="grid gap-4 mb-4 sm:grid-cols-1 relative">
  <label for="underline_select" class="text-white font-extralight text-xs"
    >Desired technology stack</label
  >
  <div class="relative w-full">
    <select
      id="underline_select"
      class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
    >
      <option selected>eg:</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    </select>
    <div
      class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
    >
      <IconArrow2 />
    </div>
  </div>
</div>

<div class="grid gap-4 mb-4 sm:grid-cols-1 relative">
  <label for="underline_select" class="text-white font-extralight text-xs"
    >Desired industry</label
  >
  <div class="relative w-full">
    <select
      id="underline_select"
      class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer"
    >
      <option selected>eg:</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    </select>
    <div
      class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
    >
      <IconArrow2 />
    </div>
  </div>
</div>

<div class="grid gap-4 mb-4 sm:grid-cols-1 relative">
  <label for="underline_select" class="text-white font-extralight text-xs"
    >Desired problem to solve:</label
  >
  <textarea class="rounded-xl border-gray-400"></textarea>
</div>
