---
import Form from "./Form.astro";
import HeaderModal from "./HeaderModal.astro";
---

<!-- Main modal -->
<div
  id="defaultModal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 overflow-y-auto"
>
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto max-h-screen">
    <!-- Modal content -->
    <div
      class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5 max-h-full"
    >
      <!-- Modal header -->
      <HeaderModal />

      <!-- Modal body -->
      <Form />
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var addButton = document.getElementById("btn-action");
    var socialMediaSection = document.getElementById("social-media-section");

    if (addButton && socialMediaSection) {
      addButton.addEventListener("click", function () {
        var inputDiv = document.createElement("div");
        inputDiv.className = "relative z-0 w-full mb-5 group";

        var input = document.createElement("input");
        input.type = "text";
        input.name = "social";
        input.className =
          "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer";
        input.placeholder = "e.g https://linkedin.com/in/matias";
        input.required = true;

        inputDiv.appendChild(input);
        socialMediaSection!.appendChild(inputDiv);
      });
    } else {
      console.error("btn-action or social-media-section is null");
    }
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const modal = document.getElementById("defaultModal");
    const openModalButton = document.querySelectorAll(".btn-modal");
    const closeModalButton = modal!.querySelector(
      '[data-modal-toggle="defaultModal"]'
    );

    openModalButton.forEach((button) => {
      button.addEventListener("click", () => {
        modal!.classList.remove("hidden");
        modal!.classList.add("flex");
      });
    });

    closeModalButton!.addEventListener("click", () => {
      modal!.classList.add("hidden");
      modal!.classList.remove("flex");
    });

    window.addEventListener("click", (event) => {
      if (event.target === modal) {
        modal!.classList.add("hidden");
        modal!.classList.remove("flex");
      }
    });
  });
</script>

<style>
  .select-container {
    display: flex;
    align-items: center;
    width: full;
    border-bottom: 1px solid gray;
  }

  .select-container select {
    border: none;
    border-bottom: none;
    margin-right: 10px;
  }

  .select-container .dropdown {
    width: max-content;
    font-size: x-large;
    transform: rotate(270deg);
    transition: transform 0.5s;
  }

  .select-container select:focus + .dropdown {
    transform: rotate(-180deg);
  }
</style>
