---
//import Form from "./Form.astro";
import HeaderModal from "./HeaderModal.astro";
import SimpleForm from "./SimpleForm";
---

<!-- Main modal -->
<div
  id="modal2"
  tabindex="-1"
  aria-hidden="true"
  class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 overflow-y-auto animate-slide-out-top"
>
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto max-h-screen">
    <!-- Modal content -->
    <div
      class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5 max-h-full"
    >
      <!-- Modal header -->
      <HeaderModal />

      <!-- Modal body -->

      <SimpleForm client:load />
    </div>
  </div>
</div>
<div id="overlay"></div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const modal = document.getElementById("modal2");
    const openModalButton = document.querySelectorAll(".btn-modal2");
    const overlay = document.getElementById("overlay");
    const closeModalButton = modal!.querySelector(
      '[data-modal-toggle="modal"]'
    );

    overlay!.addEventListener("click", () => {
      const modals = document.querySelectorAll(".modal.active");
      modals.forEach((modal) => {
        closeModal(modal);
      });
    });

    openModalButton.forEach((button) => {
      button.addEventListener("click", () => {
        modal!.classList.remove("hidden");
        modal!.classList.add("flex");
        overlay!.classList.add("active");
      });
    });

    closeModalButton!.addEventListener("click", () => {
      modal!.classList.add("hidden");
      modal!.classList.remove("flex");
      overlay!.classList.remove("active");
    });

    window.addEventListener("click", (event) => {
      if (event.target === modal) {
        modal!.classList.add("hidden");
        modal!.classList.remove("flex");
        overlay!.classList.remove("active");
      }
    });

    /*  function openModal(modal: any) {
      if (modal == null) return;
      modal.classList.add("active");
      overlay!.classList.add("active");
    } */

    function closeModal(modal: any) {
      if (modal == null) return;
      modal.classList.remove("active");
      overlay!.classList.remove("active");
    }
  });
</script>

<style>
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
</style>
