---
import Card3 from "../../components/Card3.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Vector from "../../components/Vector.astro";
import { card3 } from "../../data/card3";
import { card4 } from "../../data/card4";
import { list1 } from "../../data/list1";
---

<main>
  <Header />

  <!--Hero Services Page -->
  <section id="primary">
    <Vector />
    <div class="m-auto pb-4 pt-4">
      <h1 class="text-8xl font-bold text-center">Services</h1>
    </div>
    <div class="m-auto max-w-[750px]">
      <p class="text-2xl font-light text-center">
        With science at our core, we're a powerhouse in utilizing science, and
        engineering practical solutions to lead you into the future.
      </p>
    </div>
  </section>

  <!--Render cards -->
  <section class="md:m-10 md:p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 place-items-stretch">
      {card3.map((card) => <Card3 {...card} />)}
    </div>
  </section>

  <!--Our Services section -->
  <section class="bg-[#eeeded]">
    <div class="flex items-center justify-center pt-10 text-4xl font-bold">
      <h2>Our models</h2>
    </div>
    <div class="md:ml-20 md:m-10 md:mr-20 md:p-6 m-4 p-6 bg-white rounded-xl">
      <ul>
        {
          list1.map((list) => (
            <li class="md:pt-4 pb-2 pt-1 border-b-[.5px] border-gray-200">
              <span class="text-xl">{list.title}</span>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="md:m-auto m-6 pt-4 md:max-w-[1190px] md:mb-10">
      <p class="text-xl text-center w-full">
        By partnering with Scientifica.ai, you gain access to cutting-edge
        technologies, scientific expertise, and a dedicated team that is
        passionate about driving your success. We are committed to delivering
        solutions that exceed your expectations, empower your business, and
        enable you to thrive in today's fast-paced and competitive landscape.
        Unlock the power of Scientifica and experience the difference for
        yourself.
      </p>
    </div>

    <div
      class="md:m-auto bg-blue-700 rounded-lg cursor-pointer p-2 md:max-w-[250px] max-w-60 m-auto mb-10"
    >
      <button
        id="btn-modal"
        class="bg-blue-700 text-white text-xl font-semibold text-center rounded-lg py-2 px-4"
      >
        Start conversation
      </button>
    </div>

    <article>
      <div
        class="flex items-center justify-center text-4xl font-bold md:mt-10 ml-4"
      >
        <h2>Why choose our business services</h2>
      </div>

      <div
        class="md:grid md:grid-cols-3 place-items-center md:ml-20 md:mr-20 md:mt-10 pb-20"
      >
        {
          card4.map((card) => (
            <div class="bg-white flex m-4 rounded-lg w-[29rem] h-[100px] md:w-[350px]">
              <div class="flex justify-between m-6 space-x-8">
                <div class="flex justify-between">
                  <div class="flex items-center justify-center w-[48px] h-[48px] rounded-lg bg-blue-100">
                    <div class="flex">
                      <img src={card.logo} alt={card.title} />
                    </div>
                  </div>
                  <div class="flex flex-col ml-[40px]">
                    <div class="flex">
                      <h2 class="font-bold text-xl">{card.title}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </article>
  </section>

  <!-- Main modal -->
  <div
    id="defaultModal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
  >
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
      <!-- Modal content -->
      <div
        class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
      >
        <!-- Modal header -->
        <div
          class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Personal Information
          </h3>
          <button
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="defaultModal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path></svg
            >
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form action="/api/form/post" method="post">
          <div class="grid gap-4 mb-4 sm:grid-cols-2">
            <div class="relative z-0 w-full mb-5 group">
              <input
                type="text"
                name="first_name"
                id="first_name"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required
              />
              <label
                for="first_name"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >First Name *</label
              >
            </div>
            <div class="relative z-0 w-full mb-5 group">
              <input
                type="text"
                name="last_name"
                id="last_name"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required
              />
              <label
                for="last_name"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Last Name *</label
              >
            </div>
            <div class="relative z-0 w-full mb-5 group">
              <input
                type="email"
                name="email"
                id="email"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                placeholder=" "
                required
              />
              <label
                for="email"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                >Email Address *</label
              >
            </div>
            <div>
              <label
                for="country"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Country *</label
              >
              <select
                id="country"
                name="country"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              >
                <option selected="">Argentina</option>
                <option value="bra">Brasil</option>
                <option value="co">Colombia</option>
                <option value="eu">EE.UU</option>
                <option value="pa">Panama</option>
              </select>
            </div>
          </div>
          <button
            type="submit"
            class="text-white inline-flex items-center bg-blue-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            SEND
          </button>
        </form>
      </div>
    </div>
  </div>

  <Footer />

  <style>
    #primary {
      background-image: url("Capa11.svg");
      min-height: 400px;
    }
  </style>
</main>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const modal = document.getElementById("defaultModal");
    const openModalButton = document.getElementById("btn-modal");
    const closeModalButton = modal!.querySelector(
      '[data-modal-toggle="defaultModal"]'
    );

    // Abrir el modal
    openModalButton!.addEventListener("click", () => {
      modal!.classList.remove("hidden");
      modal!.classList.add("flex");
    });

    // Cerrar el modal
    closeModalButton!.addEventListener("click", () => {
      modal!.classList.add("hidden");
      modal!.classList.remove("flex");
    });

    // Cerrar el modal cuando se hace clic fuera del contenido del modal
    window.addEventListener("click", (event) => {
      if (event.target === modal) {
        modal!.classList.add("hidden");
        modal!.classList.remove("flex");
      }
    });
  });
</script>
