---
import Accordion from "../../components/Accordion.astro";
import Accordion2 from "../../components/Accordion2.astro";
import Card5 from "../../components/Card5.astro";
import Footer from "../../components/Footer.astro";
import GridSection from "../../components/GridSection.astro";
import Header from "../../components/Header.astro";
import Vector from "../../components/Vector.astro";
import { card5 } from "../../data/card5";
import { card6 } from "../../data/card6";
import { col1, col2, col3 } from "../../data/card7";
import { list2 } from "../../data/list2";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Research page">
  <main>
    <!--Hero Services Page -->
    <section id="primary">
      <Vector />
      <div class="m-auto pb-4 pt-4">
        <h1 class="text-8xl font-bold text-center">Research</h1>
      </div>
      <div class="m-auto max-w-[1050px]">
        <p class="text-2xl font-light text-center">
          We conduct applied research to bridge the gap between theoretical
          knowledge and practical applications. Our team of experts leverages
          scientific principles, emerging technologies, and industry best
          practices to develop innovative solutions that address specific
          business needs and challenges.
        </p>
      </div>
    </section>

    <section class="md:mt-20 mt-10 md:ml-10 md:mr-10">
      <!-- <div class="text-4xl font-bold text-center m-auto max-w-[740px]">
        <h2>Grow business with knowledge-rich research</h2>
      </div>
      <div class="p-10 text-center text-xl font-light">
        <span>
          Truly valuable innovation is driven by data and newly acquired
          knowledge -- and research is the key to acquiring both. At
          Scientifica, our research services encompass your business R&D and
          research needs. We design and conduct qualitative studies and
          quantitative research to find answers to the most challenging
          questions you have utilizing an array of sophisticated research
          methodologies. Our R&D service provides you with the knowledge to make
          critical business decisions and build new products with conviction and
          sound information.
        </span>
      </div> -->

      <Card5 />
    </section>

    <section class="bg-[#eeeded] pb-10">
      <div class="flex items-center justify-center pt-10 text-4xl font-bold">
        <h2>Our Research Services</h2>
      </div>
      <div class="p-10 text-center text-2xl font-light">
        <span>
          Scientifica offers a comprehensive range of research services that
          combine cutting-edge scientific methodologies with advanced
          technologies. Our research services are designed to provide valuable
          insights, drive innovation, and address real-world challenges across
          various industries. Here are some of the research services provided by
          Scientifica.
        </span>
      </div>

      <!--Accordion -->

      <div class="md:ml-20 md:m-10 md:mr-20 md:p-6 m-4 p-6 bg-white rounded-xl">
        {list2.map((list) => <Accordion2 {...list} />)}
      </div>
    </section>

    <section>
      <div class="flex items-center justify-center pt-10 text-4xl font-bold">
        <h2 class="text-center">Our Command of research methods</h2>
      </div>
      <div class="flex items-center justify-center p-10 text-2xl font-light">
        <span class="text-center">
          We conduct our scientific research services for businesses with
          advanced knowledge of the following research methodologies and
          approaches
        </span>
      </div>

      <article class="md:m-10">
        <div
          class="grid grid-cols-1 md:grid-cols-3 md:place-items-center md:m-2 m-6 p-6 bg-white rounded-xl shadow-md"
        >
          <div class="md:m-6">
            <ul>
              {col1.map((raw) => <li class="m-6">{raw.title}</li>)}
            </ul>
          </div>
          <div class="md:m-6">
            <ul>
              {col2.map((raw) => <li class="m-6">{raw.title}</li>)}
            </ul>
          </div>
          <div class="md:m-6">
            <ul>
              {col3.map((raw) => <li class="m-6">{raw.title}</li>)}
            </ul>
          </div>
        </div>
      </article>
    </section>

    <section class="bg-[#eeeded] py-10">
      <GridSection title="Why choose our research services" card={card6} />
    </section>
  </main>
</Layout>

<style>
  #primary {
    background-image: url("capa14.svg");
    min-height: 390px;
  }

  li {
    list-style: disc;
  }
</style>
