---
import Clients from "../components/Clients.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Storyteller from "../components/Storyteller.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Scientifica AI">
  <main>
    <Hero />
    <Storyteller />
    <Clients />
    <Services />
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
</style>

<script>
  let valueDisplays = document.querySelectorAll(".num");
  let interval = 3000;

  valueDisplays.forEach((value) => {
    if (value !== null) {
      let startValue = 0;
      let endValue = parseInt(
        value.getAttribute("data-val")!.replace(/\D/g, "")
      );
      let duration = Math.floor(interval / endValue);
      let counter = setInterval(function () {
        startValue += 1;
        value.textContent = startValue.toString();
        if (startValue == endValue) {
          clearInterval(counter);
        }
      }, duration);
    }
  });
</script>
