---
import IconFlag from "../../components/IconFlag.astro";
import VectorNetwor from "../../components/VectorNetwor.astro";
import { list3 } from "../../data/list3";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Networks page">
  <main>
    <!--Hero Services Page -->
    <section id="primary" class="md:min-h-96">
      <VectorNetwor class="absolute md:h-[380px] h-[176px] w-full" />
      <div class="m-auto pb-4 md:pt-20 pt-[10px]">
        <h1 class="text-7xl font-bold text-center animate-slide-in-top">
          Join our Network
        </h1>
      </div>
      <div class="m-auto max-w-[750px] pb-10">
        <p class="text-xl font-light text-center animate-slide-in-top">
          Scientifica's mission is to conduct innovative and cutting-edge
          research and development that drives scientific progress and creates
          practical digital solutions to real-world problems.
        </p>
      </div>
    </section>

    <!--Mission section -->
    <section class="bg-[#000423] p-6 md:p-14">
      <div class="bg-white p-6 rounded-xl md:ml-6 md:mr-6">
        <div>
          <IconFlag />
        </div>
        <div class="text-2xl font-bold mt-2 mb-2"><h2>Our mission</h2></div>
        <div>
          <p class="text-lg font-light">
            We are committed to advancing the frontiers of knowledge in our
            areas of expertise and leveraging emerging technologies to develop
            new products and services that improve people's lives and benefit
            society as a whole.
            <br />
            <br />
            Our focus is on fostering a culture of creativity, collaboration, and
            excellence within our community. We strive to bring together the brightest
            minds in science, engineering, and technology to collaborate and create
            innovative solutions that drive progress across various industries.
            <br />
            <br />
            Our goal is to build a vibrant community of experts and thought leaders
            who can share knowledge and ideas and work together to push the boundaries
            of what is possible.
          </p>
        </div>
      </div>
    </section>

    <!--Networking section -->
    <section class="m-10">
      <div class="md:flex items-center justify-center md:m-10">
        <div class="md:flex-1 text-4xl md:mr-10 font-bold text-center mb-8">
          <h3>Join our <span class="text-[#0024ff]">Network</span></h3>
        </div>
        <div class="md:grid md:grid-cols-2 gap-4 md:mr-10">
          {
            list3.map((raw) => (
              <div class="md:m-auto bg-[#0024ff] hover:scale-105 hover:opacity-75 rounded-lg cursor-pointer p-2 md:min-w-[350px] m-auto mb-10">
                <a href="/contact" class="block">
                  <button class="btn-modal text-white text-xl font-semibold text-center rounded-lg py-2 px-4 w-full">
                    {raw.title}
                  </button>
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin-top: 60px;
  }
</style>
