---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <section class="flex flex-col mx-10 px-6 my-20">
    <h1
      style="color: #0024ff; font-size: 2em; margin-bottom: 1em;"
      class="text-center"
    >
      Privacy Policy
    </h1>
    <p class="text-center">
      Welcome to Scientifica . We value your privacy and are committed to
      protecting your personal data. This Privacy Policy explains how we
      collect, use, disclose, and safeguard your information when you visit our
      website
      <a href="https://scientifica.ai" target="_blank" style="color: #0024ff;"
        >https://scientifica.ai</a
      > . By using our Site, you consent to the practices described in this policy.
    </p>

    <h2 style="color: #0024ff; font-size: 1.75em; margin-top: 1.5em;">
      1. Information We Collect
    </h2>
    <h3 style="color: #0024ff; font-size: 1.5em; margin-top: 1em;">
      Personal Data
    </h3>
    <p>
      While visiting our Site, users may choose to provide personal data through
      forms, including:
    </p>
    <ul style="margin-left: 1.5em;">
      <li>Name</li>
      <li>Email address</li>
      <li>Phone number</li>
      <li>Company name</li>
      <li>Job title</li>
      <li>Resume data or CV</li>
    </ul>

    <h3 style="color: #0024ff; font-size: 1.5em; margin-top: 1em;">
      Usage Data
    </h3>
    <p>
      We automatically collect certain information about your device and how you
      interact with our Site, such as:
    </p>
    <ul style="margin-left: 1.5em;">
      <li>IP address</li>
      <li>Browser type and version</li>
      <li>Operating system</li>
      <li>Referring URLs</li>
      <li>Pages viewed and the time spent on those pages</li>
      <li>Access times and dates</li>
    </ul>

    <h3 style="color: #0024ff; font-size: 1.5em; margin-top: 1em;">
      Cookies and Tracking Technologies
    </h3>
    <p>
      We use cookies and similar tracking technologies to track activity on our
      Site and store certain information. Cookies help us provide and improve
      our services. You can control the use of cookies at the individual browser
      level.
    </p>

    <h2 style="color: #0024ff; font-size: 1.75em; margin-top: 1.5em;">
      2. How We Use Your Information
    </h2>
    <p>We use the collected information for various purposes, including:</p>
    <ul style="margin-left: 1.5em;">
      <li>To provide and maintain our Site</li>
      <li>To improve, personalize, and expand our services</li>
      <li>To understand and analyze how you use our Site</li>
      <li>
        To communicate with you, including responding to your inquiries and
        processing your membership requests
      </li>
      <li>
        To send you marketing and promotional communications (if you have opted
        in)
      </li>
      <li>
        To ensure data security and protect our Site from malicious activity
      </li>
    </ul>

    <h2 style="color: #0024ff; font-size: 1.75em; margin-top: 1.5em;">
      3. How We Share Your Information
    </h2>
    <p>
      We do not sell, trade, or otherwise transfer your personal data to outside
      parties without your consent, except in the following circumstances:
    </p>
    <ul style="margin-left: 1.5em;">
      <li>
        With service providers and partners who assist us in operating our Site
        and conducting our business, provided those parties agree to keep this
        information confidential
      </li>
      <li>
        To comply with legal requirements, such as a law, regulation, search
        warrant, subpoena, or court order
      </li>
      <li>
        To enforce our Site policies, or to protect our rights, property, or
        safety, and that of our users or others
      </li>
    </ul>

    <h2 style="color: #0024ff; font-size: 1.75em; margin-top: 1.5em;">
      4. Data Security
    </h2>
    <p>
      We use administrative, technical, and physical security measures to help
      protect your personal data. While we have taken reasonable steps to secure
      the personal data you provide to us, please be aware that no security
      measures are perfect or impenetrable, and no method of data transmission
      can be guaranteed against any interception or other type of misuse.
    </p>
  </section>
</Layout>
