---
import IconArrow2 from "./IconArrow2.astro";

interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div class="item">
  <div class="title">
    <div class="text">{title}</div>
    <div class="dropdown"><IconArrow2 /></div>
  </div>
  <div class="contain">
    <p>{body}</p>
  </div>
</div>
<style>
  .item {
    background-color: white;
    width: 100%;
    padding: 20px;
    border-bottom: 1.6px solid rgb(224, 224, 224);

    transition: 0.5s;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .item .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item .title .text {
    width: calc(100% - 30px);
  }

  .item .title .dropdown {
    width: max-content;
    font-size: x-large;
    transform: rotate(360deg);
    transition: 0.5s;
  }

  .item .contain {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease;
  }

  .item.active {
    cursor: auto;
  }

  .item.active .title .text {
    font-weight: bold;
  }

  .item.active .title .dropdown {
    transform: rotate(-90deg);
  }

  .item.active .contain {
    max-height: 500px;
    color: gray;
    padding: 10px 0 10px 0;
  }

  .item ul {
    list-style-type: disc;
    padding-left: 20px;
    padding-top: 10px;
  }

  .item ul li {
    margin-bottom: 5px;
  }
</style>

<script>
  document.addEventListener("astro:after-swap", function () {
    let items = document.querySelectorAll(".item");

    items.forEach((item) => {
      item.classList.remove("active");
      item.addEventListener("click", function () {
        if (item.classList.contains("active")) {
          item.classList.remove("active");
        } else {
          items.forEach((el) => el.classList.remove("active"));
          item.classList.add("active");
        }
      });
    });
  });
</script>
