---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div class="flex-1 m-6 p-6 bg-white rounded-xl">
  <div class="md:text-2xl text-4xl my-10 font-semibold">
    <h2>{title}</h2>
  </div>
  <div>
    <p class="md:text-2xl text-3xl text-gray-400">
      {body}
    </p>
  </div>
  <div class="text-xl font-bold mt-6 mb-6">
    <button
      class="hover:border-b-4 hover:border-indigo-500 transition-all ease-in"
    >
      <span class="text-2xl"> More Info ➡️ </span>
    </button>
  </div>
</div>

<div class="cross"></div>

<style>
  .cross {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 89px;
    top: 3px;
  }
</style>
