---
import IconArrow from "./IconArrow.astro";

interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<div class="flex-2 bg-white rounded-xl p-4">
  <h3 class="md:text-xl py-4 flex text-center md:text-right text-4xl">
    {title}
  </h3>

  <div>
    <p class="md:text-base text-3xl text-gray-400">
      {body}
    </p>
  </div>
  <div class="text-xl font-bold">
    <button
      class="hover:border-b-4 hover:border-indigo-500 transition-all ease-in pt-4"
    >
      <a href="/services" class="text-lg flex items-center gap-4">
        More Info
        <IconArrow />
      </a>
    </button>
  </div>
</div>

<div class="cross"></div>

<style>
  .cross {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 89px;
    top: 3px;
  }
</style>
