---
import { navLinks } from "../data/links";
import IconLinkedin from "./IconLinkedin.astro";
import IconMedium from "./IconMedium.astro";
---

<footer class="flex flex-col bg-white mt-20">
  <div class="flex flex-col items-center m-10">
    <div>
      <img
        src="https://res.cloudinary.com/dqxd8euqj/image/upload/v1720534873/logo_fmtgrn.png"
        alt="logo"
        class="max-w-40"
      />
    </div>

    <div class="mt-14 items-center text-center">
      <nav
        class="flex flex-col md:flex-row gap-10 py-6 items-center justify-center"
      >
        {
          navLinks.map((link) => (
            <a
              href={link.href}
              class="hover:text-[#0024ff] md:text-xl text-2xl"
            >
              {link.text}
            </a>
          ))
        }
      </nav>
    </div>

    <div>
      <div class="flex justify-center items-center">
        <div class="m-10 w-15">
          <a
            target="_blank"
            rel="noopener"
            href="https://www.linkedin.com/company/scientiica-ai/"
            class="hover:scale-125 hover:opacity-75 transition inline-block"
          >
            <IconMedium />
          </a>
        </div>
        <div class="m-10 w-15">
          <a
            target="_blank"
            rel="noopener"
            href=""
            class="hover:scale-125 hover:opacity-75 transition inline-block"
          >
            <IconLinkedin />
          </a>
        </div>
      </div>
    </div>

    <div class="flex justify-between w-full px-20">
      <div>
        <a href="/privacy-policy" class="text-[#0024ff] text-sm cursor-pointer"
          >Privacy Policy</a
        >
      </div>
      <div><span class="text-[#737373]">© 2024 Scientifica AI</span></div>
    </div>
  </div>
</footer>
