---
import { navLinks } from "../data/links";
import IconLinkedin from "./IconLinkedin.astro";
import IconMedium from "./IconMedium.astro";
---

<footer class="flex flex-col">
  <div class="flex flex-col items-center m-10">
    <div>
      <img src="logo.png" alt="logo" class="max-w-40" />
    </div>

    <div class="mt-14 items-center text-center">
      <nav
        class="flex flex-col md:flex-row gap-10 py-6 items-center justify-center"
      >
        {
          navLinks.map((link) => (
            <a href={link.href} class="hover:text-blue-600 ">
              {link.text}
            </a>
          ))
        }
      </nav>
    </div>

    <div>
      <div class="flex">
        <div class="m-10 w-15">
          <a
            target="_blank"
            rel="noopener"
            href=""
            class="hover:scale-125 hover:opacity-75 transition inline-block"
          >
            <IconLinkedin />
          </a>
        </div>
        <div class="m-10 w-15">
          <a
            target="_blank"
            rel="noopener"
            href=""
            class="hover:scale-125 hover:opacity-75 transition inline-block"
          >
            <IconMedium />
          </a>
        </div>
      </div>
    </div>

    <div></div>

    <div></div>
  </div>
</footer>
