---
interface CardItem {
  title: string;
  logo: any;
}

interface Props {
  title: string;
  card: CardItem[];
}

const { title, card } = Astro.props;
---

<article class="mt-16 flex flex-col">
  <div
    class="flex items-center text-center justify-center text-4xl font-bold md:mt-10 ml-4"
  >
    <h2>{title}</h2>
  </div>

  <div
    class="md:grid md:grid-cols-3 place-items-center gap-y-4 my-10 md:px-32 mx-6 md:mx-0"
  >
    {
      card.map((item) => (
        <div class="bg-white flex md:flex-col items-center md:items-start md:justify-around rounded-lg w-[29rem] h-[120px] md:w-[350px] p-4 mb-4">
          <div class="flex items-center justify-center w-[48px] h-[48px] rounded-lg bg-blue-100">
            <item.logo />
          </div>

          <h2 class="font-semibold md:text-xl text-2xl md:mx-0 mx-10">
            {item.title}
          </h2>
        </div>
      ))
    }
  </div>
</article>
