---
import { navLinks } from "../data/links.js";
import IconLinkedin from "./IconLinkedin.astro";
import IconMedium from "./IconMedium.astro";
---

<header class="bg-white text-black md:py-2 pb-6 px-8 py-10">
  <div class="container mr-auto flex justify-between items-center">
    <!-- Left container: Logo -->
    <div class="flex items-center md:pl-20">
      <img
        src="https://res.cloudinary.com/dqxd8euqj/image/upload/v1720534873/logo_fmtgrn.png"
        alt="Logo"
        class="h-10"
      />
    </div>
    <!-- Right container: Navigation links for desktop -->
    <div class="hidden md:flex space-x-6">
      {
        navLinks.map((link) => (
          <a href={link.href} class="hover:text-[#0024ff] md:text-xl">
            <span>{link.text}</span>
          </a>
        ))
      }
    </div>
    <!-- Hamburger button for mobile -->
    <button id="menu-button" class="md:hidden flex items-center">
      <svg
        class="w-10 h-10"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
  </div>
  <!-- Mobile menu -->
  <div
    id="mobile-menu"
    class="md:hidden overflow-hidden max-h-0 transition-all duration-300 ease-in-out opacity-0"
  >
    <nav class="flex flex-col space-y-2 py-6 items-center justify-center">
      {
        navLinks.map((link) => (
          <a href={link.href} class="hover:text-blue-600 text-4xl">
            <span class="my-4 flex">{link.text}</span>
          </a>
        ))
      }
      <div class="flex">
        <div class="m-10 w-15">
          <a
            target="_blank"
            rel="noopener"
            href=""
            class="hover:scale-125 hover:opacity-75 transition inline-block"
          >
            <IconLinkedin />
          </a>
        </div>
        <div class="m-10 w-15">
          <a
            target="_blank"
            rel="noopener"
            href=""
            class="hover:scale-125 hover:opacity-75 transition inline-block"
          >
            <IconMedium />
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("menu-button");
    const mobileMenu = document.getElementById("mobile-menu");

    menuButton!.addEventListener("click", () => {
      if (mobileMenu!.classList.contains("max-h-0")) {
        mobileMenu!.classList.remove("max-h-0", "opacity-0");
        mobileMenu!.classList.add("max-h-screen", "opacity-100");
      } else {
        mobileMenu!.classList.add("max-h-0", "opacity-0");
        mobileMenu!.classList.remove("max-h-screen", "opacity-100");
      }
    });
  });
</script>
