---
import IconHero from "./IconHero.astro";

// components/Hero.astro
---

<section class="flex flex-col w-full h-full md:pb-8 md:flex-row bg-white">
  <!-- header section: Text content -->
  <div
    class="order-1 md:relative md:left-4 md:pl-4 md:w-[40%] md:ml-10 flex flex-col mt-28"
  >
    <h1
      class="cadama mb-4 animate-blurred-fade-in text-center md:text-start"
    >
      <span class="block">UNLOCK</span>
      <span class="block">THE POWER</span>
      <span class="block">OF AI WITH</span>
      <span class="block text-[#0024ff]">SCIENTIFICA</span>
    </h1>

    <div class="flex">
      <IconHero class="md:hidden" />
    </div>

    <!--foot section -->
    <div class="md:mt-0 mt-4 mb-4 order-3 md:order-2">
      <span
        class=" flex mb-4 md:text-xl text-4xl text-center md:text-start md:w-[700px]"
      >
        From expanding knowledge to creating new opportunities, explore what
        your organization can achieve when there are no limits.
      </span>
      <div
        class="flex justify-center items-center mb-10 bg-[#0024ff] rounded-lg cursor-pointer p-2 md:py-2 w-[800px] m-auto md:m-0 md:w-[300px] hover:bg-blue-500"
      >
        <button
          id="btn-modal2"
          class="btn-modal2 text-white text-4xl md:text-xl font-semibold rounded-lg py-2 px-4 w-full"
        >
          Start a conversation
        </button>
      </div>
    </div>
  </div>

  <div class="hidden order-2 md:order-3 h-[300px] p-2 md:p-0 md:pb-10 md:flex md:mt-16">
    <IconHero class="md:w-full" />
  </div>
  <!--hero section -->
</section>

<style is:inline>
  @font-face {
    font-family: "Biotif";
    src: url("/font/biotif.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  body {
    width: fit-content;
  }

  .cadama > span {
    font-family: "Biotif";
    font-size: 5.5rem;
    line-height: 1;
  }
</style>