---
// components/Hero.astro
---

<section class="flex flex-col w-full h-full md:flex-row items-center bg-white">
  <!-- Left section: Text content -->
  <div class="pl-4 pr-4 md:pb-10">
    <h1 class="text-8xl font-bold mb-4">
      UNLOCK
      THE POWER
      OF AI WITH
    </h1>
    <p class="text-8xl text-blue-800 font-bold">
      SCIENTIFICA
    </p>
    <p class="mt-4 mb-4 text-xl text-center">
      From expanding knowledge to creating new oportunities, explore
      what your organization can achieve when there are not limits.
    </p>
    <div class="flex justify-center items-center bg-blue-700 rounded-lg cursor-pointer p-2 md:max-w-[250px]">
      <button class="bg-blue-700 text-white text-xl font-semibold text-center rounded-lg py-2 px-4">
        Start conversation
      </button>
    </div>    
  </div>
  
  <!-- Right section: Background SVG -->
  <div class="w-[104%] h-[500px] relative md:top-[-30px] p-2">
    <div class="absolute inset-0">
      <img src="Capa1.svg" alt="Background SVG" class=" object-cover"/>
    </div>
  </div>
</section>
