---
import IconHero from "./IconHero.astro";
import ModalForm from "./form/ModalForm.astro";

// components/Hero.astro
---

<section class="flex flex-col w-full h-full md:flex-row items-center bg-white">
  <!-- header section: Text content -->
  <div class="order-1 pl-4 md:w-[38%] md:ml-10 flex flex-col justify-between">
    <h1
      class="text-8xl md:text-start text-center font-medium mb-4 animate-blurred-fade-in"
    >
      UNLOCK THE POWER OF AI WITH <span class="text-[#0024ff]">SCIENTIFICA</span
      >
    </h1>

    <div class="flex">
      <IconHero class="md:hidden" />
    </div>

    <!--foot section -->
    <div class="md:mt-0 mt-4 mb-4 order-3 md:order-2">
      <span
        class="flex mb-4 md:text-xl text-4xl text-center md:text-start md:w-[660px]"
      >
        From expanding knowledge to creating new opportunities, explore what
        your organization can achieve when there are no limits.
      </span>
      <div
        class="flex justify-center items-center mb-10 bg-[#0024ff] rounded-lg cursor-pointer p-2 w-[800px] m-auto md:m-0 md:w-[400px] hover:bg-blue-500"
      >
        <button
          id="btn-modal2"
          class="btn-modal2 text-white text-4xl md:text-xl font-semibold rounded-lg py-2 px-4 w-full"
        >
          Start a conversation
        </button>
      </div>
    </div>
  </div>

  <div
    class="hidden order-2 md:order-3 h-[500px] p-2 md:p-0 md:flex items-center"
  >
    <IconHero class="md:max-w-[50rem] md:w-full" />
  </div>
  <!--hero section -->
</section>

<ModalForm />

<style>
  @font-face {
    font-family: "Biotif";
    src: url("/font/biotif.otf") format("otf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  h1,
  h1 > span {
    font-family: "Biotif", system-ui, sans-serif;
  }
</style>
