---
import { card2 } from "../data/card2";
import Card2 from "./Card2.astro";
---

<section class="flex-1 md:m-10 md:p-8">
  <div class="text-5xl mb-6 mt-8 font-bold text-center">
    <h2>Our services</h2>
  </div>

  <div class="grid md:grid-cols-2 grid-cols-1">
    {card2.map((card) => <Card2 {...card} />)}
  </div>

  <div
    class="m-4 md:m-auto bg-blue-700 rounded-lg cursor-pointer p-2 md:max-w-[240px]"
  >
    <button
      class="bg-blue-700 text-white text-xl font-semibold text-center rounded-lg py-2 px-4"
    >
      See your Services
    </button>
  </div>
</section>

<style>
  body {
    background-color: #f0f0f0;
  }
</style>
