---
import { card2 } from "../data/card2";
import Card2 from "./Card2.astro";
---

<section class="flex-1 md:m-10 md:p-8">
  <div class="text-5xl my-10 font-bold text-center">
    <h2 class="text-6xl md:text-5xl">Our services</h2>
  </div>

  <div class="grid md:grid-cols-2 grid-cols-1">
    {card2.map((card) => <Card2 {...card} />)}
  </div>

  <div
    class="md:block md:m-auto flex justify-center items-center mb-10 md:my-10 bg-[#0024ff] rounded-lg cursor-pointer p-2 w-[800px] m-auto md:w-[400px] hover:bg-blue-500"
  >
    <a
      href="/services"
      class="text-white md:flex md:justify-center md:items-center text-4xl md:text-2xl font-semibold text-center rounded-lg py-2 px-4"
    >
      See your Services
    </a>
  </div>
</section>

<style>
  body {
    background-color: #f0f0f0;
  }
</style>
