---
import { cards } from "../data/cards";
import Card from "./Card.astro";
---

<section class="bg-[#f0f0f0] flex flex-col xs:flex-row">
  <div class="bg-[#0024ff] text-white p-10 flex">
    <div class="flex items-center p-10">
      <p class="text-4xl md:text-2xl text-center md:text-start">
        We take pride in bringing together the authenticity of scientific
        research and AI, merging the two with clients'business vision to create
        awe-inspiring AI solutions for business. Driven with the vision to
        provide clients with impeccable services and solutions that create value
        and optimize operations, we build purpose-driven AI software products
        developed around every client's specific needs.
      </p>
    </div>
  </div>

  <div class="flex flex-col mb-20 md:mx-20 mx-10">
    <h2 class="text-5xl font-bold flex pt-20">Our history</h2>
    <div class="flex items-center justify-center flex-col md:flex-row">
      <div class="md:w-[50%] mt-14 md:mt-10">
        <p class="text-4xl md:text-base">
          Rooted by renowned Scientists, Scientifica was founded in 2021 after a
          long stretch of planning during which the demanding needs of business
          decision makers were thoroughly studied.
          <br />
          <br />
          We harnessed our expertise in building AI solutions and combined it with
          cutting-edge scientific research to assure highly accurate business intelligence
          tools and solutions.
          <br />
          <br />
          Soon we were working on use cases for data driven business solutions that
          were purpose-built and offered laser-focused resolutions to highly sophisticated
          business problems. These use cases are now leading our clients to unprecedented
          business decision making confidence driven by data.
        </p>
      </div>

      <div
        class="grid grid-cols-1 md:grid md:grid-cols-2 md:place-items-end md:w-[50%] md:m-16 my-10"
      >
        <Card />
      </div>
    </div>
  </div>
</section>
