---
import Card from "./Card.astro";
---

<section>
  <div class="section__left">
    <p>
      Scientifica is a science and technology development company that brings
      together scientific research and AI-driven technology to help businesses
      make better decisions. Whether you need to solve a business problem,
      create and determine the viability of a new product, or need an AI
      solution use case to enhance your product ideas, we have you covered.
    </p>
  </div>

  <div class="section__right">
    <h2 class="text__title">Our history</h2>
    <div class="section__right-content">
      <div class="section__right-text">
        <p>
          Rooted by renowned Scientists, Scientifica was founded in 2021 after a
          long stretch of planning during which the demanding needs of business
          decision makers were thoroughly studied. We harnessed our expertise in
          building AI solutions and combined it with cutting-edge scientific
          research to assure highly accurate business intelligence tools and
          solutions.
        </p>
        <br />
        <p>
          Soon we were working on use cases for data driven business solutions
          that were purpose- built and offered laser-focused resolutions to
          highly sophisticated business problems. These use cases have now
          become the driving force behind our clients' unprecedented confidence
          in decision-making, growth and efficiencies.
        </p>
        <br />
        <p>
          At Scientifica, we understand the strategic importance of AI and its
          potential to revolutionize businesses, and we are committed to
          empowering organizations to maximize the benefits of this powerful
          technology.
        </p>
      </div>

      <div class="section__right-card">
        <Card />
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
  }

  .section__left {
    background-color: #0024ff;
    color: white;
    padding: 0 0.5rem 0 0.5rem;
    display: flex;
  }

  @media (min-width: 768px) {
    .section__left {
      padding: 0 2.5rem 0 2.5rem;
    }
  }

  .section__left > p {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding: 1rem;
    display: flex;
    text-align: center;
  }

  @media (min-width: 768px) {
    .section__left > p {
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: start;
      padding: 2.5rem;
    }
  }

  .section__right {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @media (min-width: 768px) {
    .section__right {
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

  .section__right-content {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .section__right-content {
      grid-template-columns: 1fr 1fr;
      place-items: center;
      gap: 2rem;
    }
  }

  .section__right-text {
    margin-top: 3.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #171717;
  }

  @media (min-width: 768px) {
    .section__right-text {
      font-size: 1rem;
    }
  }

  .section__right-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
    margin-bottom: 2.5rem;
    width: 100%;
    margin-top: 2.5rem;
  }

  @media (min-width: 768px) {
    .section__right-card {
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      margin-bottom: 6rem;
      margin-top: 0;
    }
  }

  .text__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    padding-top: 5rem;
  }
</style>
