---
import Card from "./Card.astro";
---

<section class="bg-[#f0f0f0] flex flex-col xs:flex-row">
  <div class="bg-[#0024ff] text-white px-10 flex">
    <p class="text-4xl md:text-2xl p-10 flex text-center md:text-start">
      Scientifica is a science and technology development company that brings
      together scientific research and AI-driven technology to help businesses
      make better decisions. Whether you need to solve a business problem,
      create and determine the viability of a new product, or need an AI
      solution use case to enhance your product ideas, we have you covered.
    </p>
  </div>

  <div class="flex flex-col md:mb-20 md:mx-20 mx-10">
    <h2 class="text-3xl font-bold flex pt-20">Our history</h2>
    <div class="flex items-center justify-center flex-col md:flex-row">
      <div class="md:w-[50%] mt-14 md:mt-10">
        <p class="text-4xl md:text-base text-gray-500">
          Rooted by renowned Scientists, Scientifica was founded in 2021 after a
          long stretch of planning during which the demanding needs of business
          decision makers were thoroughly studied.
          <br />
          <br />
          We harnessed our expertise in building AI solutions and combined it with
          cutting- edge scientific research to assure highly accurate business intelligence
          tools and solutions.
          <br />
          <br />
          Soon we were working on use cases for data driven business solutions that
          were purpose-built and offered laser-focused resolutions to highly sophisticated
          business problems. These use cases have now become the driving force behind
          our clients' unprecedented confidence in decision-making, growth and efficiencies.
        </p>
      </div>

      <div
        class="grid grid-cols-1 md:grid md:grid-cols-2 md:place-items-end md:w-[50%] mb-10 mt-10 md:mt-0"
      >
        <Card />
      </div>
    </div>
  </div>
</section>
