---
import { cards } from "../data/cards";
import Card from "./Card.astro";
---

<section class="bg-[#f0f0f0] flex flex-col xs:flex-row">
  <div class="bg-blue-700 text-white p-10 flex">
    <div class="flex items-center p-10">
      <p class="text-2xl">
        Scientifica is a science and technology development company that brings
        together scientific research and AI-driven technology to help businesses
        make better decisions. Whether you need to solve a business problem,
        create and determine the viability of a new product, or need an AI
        solution use case to enhance your product ideas, we have you covered.
      </p>
    </div>
  </div>
  <div class="flex m-1 mb-20">
    <div class="flex flex-col md:flex-row md:mt-14 md:ml-10">
      <div class="md:w-[50%] mt-14 md:mt-2 ml-6">
        <h2 class="text-6xl pb-10 font-bold">Our history</h2>
        <p class="text-2xl md:text-base">
          Rooted by renowned Scientists, Scientifica was founded in 2021 after a
          long stretch of planning during which the demanding needs of business
          decision makers were thoroughly studied.
          <br />
          <br />
          We harnessed our expertise in building AI solutions and combined it with
          cutting-edge scientific research to assure highly accurate business intelligence
          tools and solutions.
          <br />
          <br />
          Soon we were working on use cases for data driven business solutions that
          were purpose-built and offered laser-focused resolutions to highly sophisticated
          business problems. These use cases are now leading our clients to unprecedented
          business decision making confidence driven by data.
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid md:grid-cols-2 md:w-[50%]">
        {cards.map((card) => <Card {...card} />)}
      </div>
    </div>
  </div>
</section>
